# Dependencies
node_modules/
/dist
/build

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/

# System / IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Astronomical Calculations Cache
*.bsp
